.header {
  height: 34vw;
  margin: 30px auto;
  background: url('https://sdmntprwestus2.oaiusercontent.com/files/00000000-b2b8-61f8-9f05-787be9d9ba03/raw?se=2025-05-23T09%3A09%3A10Z&sp=r&sv=2024-08-04&sr=b&scid=8a7f2cb3-7045-59b8-a39d-33749cea58ba&skoid=c953efd6-2ae8-41b4-a6d6-34b1475ac07c&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-22T19%3A19%3A28Z&ske=2025-05-23T19%3A19%3A28Z&sks=b&skv=2024-08-04&sig=S42Wcmfv5V%2BRAO06ScvjPzX5MbP8r00HEoeZDX46SC0%3D') no-repeat center ;
  background-size: cover;
  position: relative;
  width: 85%;
  border-radius: 15px; /* optional for rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* optional shadow */
}

.header-cont {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  z-index: 2; 
  animation: fadeIn 3s;
}
.header-cont h2{
   font-weight: 500;
   color:white;
   font-size: max(4.5vw,22px);

}
.header-cont p{
    color: white;
    font-size: 1vw;
}
.header-cont button{
    border: none;
    color:#747474 ;
    font-weight: 500;
    padding:1vw 2.3vw;
    background-color: white;
    font-size:max(1vw,13px);
    border-radius: 50px;
}
@keyframes fadeIn{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}
@media(max-width:1050px){
   .header{
    height: 38vw;
   } 
   .header-cont{
    max-width: 45%;
   }
}
@media(max-width:750px){
   
   .header-cont{
    max-width: 65%;
   }
   .header-cont p{
    display: none;
   }
   .header-cont button{
    padding: 2vw 4vw;
   }
}
